<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Sail Outreach</title>
        <link rel='shortcut icon' href="{{ url_for('static', filename='favicon.ico') }}" type='image/x-icon'/>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfXnH4Fxt3Up-2XLzu-_TVzud1FH_rIYY&callback=initMap&libraries=&v=weekly"
          defer
        ></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-sail fixed-top">
              <div class="container">
                <a class="navbar-brand mr-4" href="/">Sail Outreach</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="/">Map</a>
                    <a class="nav-item nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Secret Codes</a>
                  </div>
                </div>
              </div>
            </nav>
        </header>

        <main role="main" class="container">
          {% block content %}{% endblock %}
        </main>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    
    </body>
</html>